@charset "utf-8";
@font-face {
	font-family: "font";
	src: url("https://mer0za.github.io/KikaiChokokuJIS-Md.otf") format("opentype");
}

body{
	background: #0A1824;
	background-image: url("bgi.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "font";
	color: #fff;
	line-height: 1.5em;
	letter-spacing: .1em;
}

div.main{
	position: relative;
	background: rgba(255,255,255,.1);
	margin: 2em;
	padding: 1em;
	box-shadow: 0 0 .5em rgba(255,255,255,.1);
}

h1{
	font-size: 1.5em;
}

li{

}

hr{

}

a{color: #a0b5c0}